################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/packages/Newtonsoft.Json.13.0.3
/obj/Debug
/.vs/RoomArea
/.gitattributes
